@page "/About"
@page "/About.aspx"
<HeadContent>
     <link href="CSS/CSS_About.css" rel="stylesheet" />
     <script src="JQuery/JQuery_About.js"></script>
</HeadContent>
<div id="header">
    <h1> Students Body Statistics </h1>
</div>
<div id="grv">
    <GridView CssClass="grid" ItemType="EnrollmentStat"
        ID="EnrollmentsStat" Items="@EnrollmentStats"
        AutoGenerateColumns="false" EmptyDataText="There are no records to display"
        CellPadding="4">
        <Columns>
            <BoundField DataField="EnrollmentDate" HeaderText="Enrollment Date" ReadOnly="true" />
            <BoundField DataField="StudentCount" HeaderText="Students" ReadOnly="true" />
        </Columns>
    </GridView>
</div>

