@page "/About"
@rendermode InteractiveServer

<PageStyleSheet Href="CSS/CSS_About.css" />

<div id="header">
    <h1> Students Body Statistics </h1>
</div>
<div id="grv">
    <GridView TItem="EnrollmentStatistic" CssClass="grid" 
        ID="EnrollmentsStat" Items="_enrollmentStats"
        AutoGenerateColumns="false" EmptyDataText="There are no records to display"
        CellPadding="4" ForeColor=@("#333333")>
        <Columns>
            <BoundField DataField="Key" HeaderText="Enrollment Date" ReadOnly="true" />
            <BoundField DataField="Value" HeaderText="Students" ReadOnly="true" />
        </Columns>
    </GridView>
</div>


