@page "/About"
@rendermode InteractiveServer

<PageStyleSheet Href="CSS/CSS_About.css" />

<div id="header">
    <h1>Students Body Statistics</h1>
</div>
<div id="grv">
    <GridView TItem="EnrollmentStatistic" CssClass="grid" 
        Items="_enrollmentStats"
        AutoGenerateColumns="false" EmptyDataText="There are no records to display"
        CellPadding="4" ForeColor=@("#333333") GridLines="GridLines.None">
        <AlternatingRowStyleContent><GridViewAlternatingRowStyle BackColor=@("White") /></AlternatingRowStyleContent>
        <Columns>
            <BoundField DataField="EnrollmentDate" HeaderText="Enrollment Date" ReadOnly="true">
                <HeaderStyle BackColor=@("Black") BorderColor=@("White") BorderStyle="BorderStyle.Solid" Font-Bold="true" Font-Size="30px" />
                <ItemStyle BorderColor=@("White") BorderStyle="BorderStyle.Solid" Font-Size="20px" HorizontalAlign="HorizontalAlign.Center" />
            </BoundField>
            <BoundField DataField="StudentCount" HeaderText="Students" ReadOnly="true">
                <FooterStyle BorderStyle="BorderStyle.Solid" />
                <HeaderStyle BackColor=@("Black") BorderColor=@("White") BorderStyle="BorderStyle.Solid" Font-Bold="true" Font-Size="30px" />
                <ItemStyle BorderColor=@("White") BorderStyle="BorderStyle.Solid" Font-Size="20px" HorizontalAlign="HorizontalAlign.Center" />
            </BoundField>
        </Columns>
        <EditRowStyleContent><GridViewEditRowStyle BackColor=@("#2461BF") /></EditRowStyleContent>
        <FooterStyleContent><GridViewFooterStyle BackColor=@("#507CD1") Font-Bold="true" ForeColor=@("White") /></FooterStyleContent>
        <HeaderStyleContent><GridViewHeaderStyle BackColor=@("#507CD1") Font-Bold="true" ForeColor=@("White") /></HeaderStyleContent>
        <PagerStyleContent><GridViewPagerStyle BackColor=@("#2461BF") ForeColor=@("White") HorizontalAlign="HorizontalAlign.Center" /></PagerStyleContent>
        <RowStyleContent><GridViewRowStyle BackColor=@("#EFF3FB") /></RowStyleContent>
        <SelectedRowStyleContent><GridViewSelectedRowStyle BackColor=@("#D1DDF1") Font-Bold="true" ForeColor=@("#333333") /></SelectedRowStyleContent>
    </GridView>
</div>

@code {
    private List<EnrollmentStatistic> _enrollmentStats = new();

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbFactory.CreateDbContextAsync();
        var enrollments = await db.Enrollments
            .GroupBy(e => e.Date.Date)
            .Select(g => new { Date = g.Key, Count = g.Count() })
            .OrderByDescending(x => x.Date)
            .ToListAsync();
            
        _enrollmentStats = enrollments.Select(e => new EnrollmentStatistic
        {
            EnrollmentDate = e.Date.ToString("MMM dd, yyyy"),
            StudentCount = e.Count
        }).ToList();
    }

    public class EnrollmentStatistic
    {
        public string EnrollmentDate { get; set; } = "";
        public int StudentCount { get; set; }
    }
}


