@page "/Home"
@page "/"

<PageTitle>Contoso University - Home</PageTitle>
<PageStyleSheet Href="CSS/Home_CSS.css" />

<div id="welcomeHeader">
    <h1>Welcome To Contoso University<span id="com">.com</span></h1>
    <h1>The Darkest Place In The Web...</h1>
</div>
<footer>
    @(DateTime.Now.Year) - Contoso University&copy;
</footer>

