@page "/Instructors"
@rendermode InteractiveServer

<PageStyleSheet Href="CSS/Instructors_CSS.css" />

<div id="grv">
    <h1 id="hdr">Our Instructors</h1>
    <GridView TItem="Instructor" ID="grvInstructors" Items="_instructors" AutoGenerateColumns="false"
        CssClass="grv"                 
        AllowSorting="true" OnSorting="grvInstructors_Sorting" 
        EmptyDataText="There are no records to display">
        <Columns>
            <BoundField DataField="InstructorID" HeaderText="Instructor ID" SortExpression="InstructorID" />
            <BoundField DataField="FirstName" HeaderText="First Name" SortExpression="FirstName" />
            <BoundField DataField="LastName" HeaderText="Last Name" SortExpression="LastName" />
            <BoundField DataField="Email" HeaderText="Email" />
        </Columns>
    </GridView>
</div>


