@page "/Students"
<HeadContent>
    <link href="CSS/Students_CSS.css" rel="stylesheet" />
    <script src="JQuery/JQuery_Students.js"></script>
</HeadContent>

<div id="grvStudentsData">
    <GridView ItemType="StudentEnrollmentViewModel" ID="grv"
        CssClass="grv"
        AutoGenerateColumns="false"
        EmptyDataText="There are no records to display"
        DataKeyNames="ID"
        Items="@StudentEnrollments"
        CellPadding="4">
        <Columns>
            <BoundField DataField="ID" HeaderText="Student ID" ReadOnly="true" />
            <BoundField DataField="FullName" HeaderText="Student Name" />
            <BoundField DataField="Email" HeaderText="Email" />
            <BoundField DataField="Date" HeaderText="Enrollment Date" ReadOnly="true" />
            <BoundField DataField="Count" HeaderText="Number of Courses" ReadOnly="true" />
        </Columns>
    </GridView>
</div>
<div id="addStud">
    <h1 id="addStudent">Add Student</h1>
    <Table ID="tabAddStud" CssClass="tabAddStud">
        <TableRow>
            <TableCell>First Name</TableCell>
            <TableCell>
                <TextBox ID="txtFirstName" placeholder="Type Your First Name..." @bind-Text="FirstName" />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Last Name</TableCell>
            <TableCell>
                <TextBox ID="txtLastName" placeholder="Type Your Last Name..." @bind-Text="LastName" />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Birth Date</TableCell>
            <TableCell>
                <TextBox ID="txtBirthDate" placeholder="dd.mm.year" @bind-Text="BirthDateText" />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Email</TableCell>
            <TableCell>
                <TextBox ID="txtEmail" placeholder="Email is Optional..." @bind-Text="Email" />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Course Name</TableCell>
            <TableCell>
                <DropDownList TItem="Course" ID="dropListCourses" Items="@CoursesList"
                    DataTextField="CourseName" DataValueField="CourseName"
                    @bind-SelectedValue="SelectedCourse">
                </DropDownList>
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell></TableCell>
            <TableCell>
                <Button CssClass="insert" ID="btnInsert" Text="New Enrollment" @onclick="btnInsert_Click" />
                <Button ID="btnClear" Text="Clear" @onclick="btnClear_Click" />
            </TableCell>
        </TableRow>
    </Table>
</div>
<div id="ajax">
    <h1 id="searchStud">Search Student</h1>
    <TextBox CssClass="txtSearch" ID="txtSearch" placeholder="Type Student Name..." @bind-Text="SearchText" />
    <Button ID="btnSearch" Text="Show Student Info" @onclick="btnSearch_Click" CssClass="btnInfo" />
    <DetailsView ItemType="Student"
        ID="studentData"
        AutoGenerateRows="true"
        Items="@SearchResults"
        CssClass="detailsView">
    </DetailsView>
</div>         
     

