@page "/Students"
@rendermode InteractiveServer

<PageStyleSheet Href="CSS/Students_CSS.css" />

<div id="grvStudentsData">
    <GridView TItem="StudentViewModel" ID="grv"
        Items="_students"
        CssClass="grv"
        AutoGenerateColumns="false"
        EmptyDataText="There are no records to display"
        DataKeyNames="ID"
        BackColor=@("White") BorderColor=@("#3366CC") CellPadding="4">
        <Columns>
            <TemplateField HeaderText="Delete Student">
                <ItemTemplate Context="item">
                    <Button Text="Delete" OnClick="() => grv_DeleteItem(item.ID)" />
                </ItemTemplate>
            </TemplateField>
            <BoundField DataField="ID" HeaderText="Student ID" ReadOnly="true" />
            <BoundField DataField="FullName" HeaderText="Student Name" />
            <BoundField DataField="Email" HeaderText="Email" />
            <BoundField DataField="Date" HeaderText="Enrollment Date" ReadOnly="true" />
            <BoundField DataField="Count" HeaderText="Number of Courses" ReadOnly="true" />
        </Columns>
    </GridView>
</div>
<div id="addStud">
    <h1 id="addStudent">Add Student</h1>
    <Table ID="tabAddStud" CssClass="tabAddStud" BorderColor=@("#0033CC") ForeColor=@("White")>
        <TableRow>
            <TableCell>First Name</TableCell>
            <TableCell>
                <TextBox ID="txtFirstName" @bind-Text="_firstName" placeholder="Type Your First Name..." />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Last Name</TableCell><TableCell>
                <TextBox ID="txtLastName" @bind-Text="_lastName" placeholder="Type Your Last Name..." />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Birth Date</TableCell><TableCell>
                <TextBox ID="txtBirthDate" @bind-Text="_birthDate" placeholder="dd.mm.year" />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Email</TableCell><TableCell>
                <TextBox ID="txtEmail" @bind-Text="_email" placeholder="Email is Optional..." />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Course Name</TableCell><TableCell>
                <DropDownList TItem="Cours" ID="dropListCourses" Items="_courses"
                    DataTextField="CourseName" DataValueField="CourseID" @bind-SelectedValue="_selectedCourseId" />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>               
            </TableCell><TableCell>
                <Button CssClass="insert" ID="btnInsert" Text="New Enrollment" OnClick="btnInsert_Click" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="reset" value="Clear" class="btn" />
            </TableCell>
        </TableRow>
    </Table>
</div>
<div id="ajax">
    <h1 id="searchStud">Search Student</h1>
    <TextBox CssClass="txtSearch" ID="txtSearch" @bind-Text="_searchName" placeholder="Type Student Name..." />
    @* AutoCompleteExtender removed — implement with native HTML datalist or JS *@
    <Button ID="btnSearch" Text="Show Student Info" OnClick="btnSearch_Click" CssClass="btnInfo" />
    <DetailsView TItem="Student"
        ID="studentData"
        Items="@(_selectedStudent != null ? new[] { _selectedStudent } : Array.Empty<Student>())"
        AutoGenerateRows="false"
        CssClass="detailsView" BorderColor=@("Black") ForeColor=@("Black")>
        <Fields>
            <BoundField DataField="FirstName" HeaderText="First Name" />
            <BoundField DataField="LastName" HeaderText="Last Name" />
            <BoundField DataField="Email" HeaderText="Email" />
            <BoundField DataField="BirthDate" HeaderText="Birth Date" />
            <BoundField DataField="StudentID" HeaderText="id" />
        </Fields>
    </DetailsView>
</div>         
     


