@page "/ControlSamples/MasterPage"
@inherits BaseWebFormsComponent
@layout _Layout

<h3>Inner Page</h3>

<p>
	The Random Value: @TheRandomValue
</p>

<p>
	Second Random Value on Page: @SecondRandomValue
</p>

<p>
	Value created on Page: @ValueOnPage
</p>

<button @onclick="@(() => { ValueOnPage = 9999; Settings["ValueFromPage"] = ValueOnPage; })">Set new random value</button>

@code {

	public int TheRandomValue { get; set; }

	public int SecondRandomValue { get; set; }

	public int ValueOnPage { get; set; } = new Random().Next(10000, 100000);

	protected override Task OnInitializedAsync()
	{

		TheRandomValue = (int)Settings["TestValue"];
		SecondRandomValue = (int)Settings["SecondRandomValue"];
		Settings["ValueFromPage"] = ValueOnPage;

		return base.OnInitializedAsync();

	}

}
