@page "/counter"
@layout Shared.SecondLayout

<h1>Counter</h1>

<p>Current count: @Settings.TheCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    [CascadingParameter(Name="LayoutSettings")]
    public Data.LayoutSettings Settings {get;set;}

    private void IncrementCount()
    {
        Settings.TheCount++;
        StateHasChanged();
    }
}
