@page "/ContosoUniversity/Courses"
@page "/Courses"
@rendermode InteractiveServer
<HeadContent>
    <link href="CSS/CSS_Courses.css" rel="stylesheet" />
</HeadContent>
<ScriptManager></ScriptManager>
<UpdatePanel>
    <ContentTemplate>
        <div id="dropList">
            <h1 id="hdrCourse">Select Course</h1>
            <select @bind="_selectedDepartment">
                @foreach (var dept in _departments)
                {
                    <option value="@dept">@dept</option>
                }
            </select>
            <Button Text="Search Courses" OnClick="btnSearchCourse_Click" />
            <br />
            <br />
            <GridView 
                ItemType="Course"
                Items="_courses"
                AllowPaging="true" 
                PageSize="5" 
                AutoGenerateColumns="false"
                EmptyDataText="Choose Department To Display Courses">
                <Columns>
                    <BoundField DataField="CourseID" HeaderText="ID" />
                    <BoundField DataField="CourseName" HeaderText="Course Name" />
                    <BoundField DataField="StudentsMax" HeaderText="Max Capacity" />
                </Columns>
            </GridView>
        </div>
        <div id="autoComplete">
            <h1 id="crsByName">Courses By Name</h1>
            <TextBox @bind-Text="_searchText" placeholder="Search Course..." />
            <Button Text="Search" OnClick="search_Click" />
            <br />
            <br />
            @if (_selectedCourse != null)
            {
                <DetailsView 
                    ItemType="Course"
                    DataItem="_selectedCourse" 
                    CssClass="details"
                    AutoGenerateRows="false">
                    <Fields>
                        <BoundField DataField="CourseID" HeaderText="ID" />
                        <BoundField DataField="CourseName" HeaderText="Name" />
                        <BoundField DataField="StudentsMax" HeaderText="Max Students" />
                    </Fields>
                </DetailsView>
            }
        </div>
    </ContentTemplate>         
</UpdatePanel>


