@page "/ContosoUniversity/Courses"
@page "/Courses"
@rendermode InteractiveServer

<PageTitle>Courses - Contoso University</PageTitle>

<HeadContent>
    <link href="css/CSS_Courses.css" rel="stylesheet" />
</HeadContent>

<div id="dropList">
    <h1 id="hdrCourse">Select Course</h1>
    <DropDownList TItem="Department" Items="_departments" 
        DataTextField="DepartmentName" DataValueField="DepartmentID"
        @bind-SelectedValue="_selectedDepartmentId" />
    <Button ID="btnSearchCourse" Text="Search Courses" OnClick="SearchCourses" />
    <br /><br />
    
    <GridView ID="grvCourses" 
        Items="_courses"
        ItemType="Course"
        AllowPaging="true" PageSize="5"
        AutoGenerateColumns="false"
        EmptyDataText="Choose a Department to Display Courses">
        <Columns>
            <BoundField ItemType="Course" DataField="CourseID" HeaderText="ID" />
            <BoundField ItemType="Course" DataField="CourseName" HeaderText="Course Name" />
            <BoundField ItemType="Course" DataField="StudentsMax" HeaderText="Max Capacity" />
        </Columns>
    </GridView>
</div>

<div id="autoComplete">
    <h1 id="crsByName">Courses By Name</h1>
    <TextBox ID="txtCourse" @bind-Text="_searchCourse" placeholder="Search Course..." />
    <Button ID="search" Text="Search" OnClick="SearchCourseByName" />
    <br /><br />
    
    @if (_selectedCourse != null)
    {
        <DetailsView ID="dtlCourses"
            DataItem="_selectedCourse"
            ItemType="Course"
            CssClass="details"
            AutoGenerateRows="false">
            <Fields>
                <BoundField DataField="CourseID" HeaderText="Course ID" />
                <BoundField DataField="CourseName" HeaderText="Course Name" />
                <BoundField DataField="StudentsMax" HeaderText="Max Students" />
            </Fields>
        </DetailsView>
    }
</div>


