@page "/ContosoUniversity/Students"
@page "/Students"
@rendermode InteractiveServer
<HeadContent>
    <link href="CSS/Students_CSS.css" rel="stylesheet" />
</HeadContent>
<ScriptManager></ScriptManager>       
<UpdatePanel>
    <ContentTemplate>
        <div id="grvStudentsData">
            <GridView 
                ItemType="StudentEnrollmentView"
                Items="_gridData"
                CssClass="grv"
                AutoGenerateColumns="false"
                EmptyDataText="There are no records to display"
                CellPadding="4">
                <Columns>
                    <BoundField DataField="ID" HeaderText="Student ID" />
                    <BoundField DataField="FullName" HeaderText="Student Name" />
                    <BoundField DataField="Email" HeaderText="Email" />
                    <BoundField DataField="Date" HeaderText="Enrollment Date" />
                    <BoundField DataField="Count" HeaderText="Number of Courses" />
                </Columns>
            </GridView>
        </div>
        <div id="addStud">
            <h1 id="addStudent">Add Student</h1>
            <table class="tabAddStud">
                <tr>
                        <td>First Name</td>
                        <td>
                            <TextBox @bind-Text="_firstName" placeholder="Type Your First Name..." />
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <TextBox @bind-Text="_lastName" placeholder="Type Your Last Name..." />
                        </td>
                    </tr>
                    <tr>
                        <td>Birth Date</td>
                        <td>
                            <TextBox @bind-Text="_birthDate" placeholder="dd.mm.year" />
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <TextBox @bind-Text="_email" placeholder="Email is Optional..." />
                        </td>
                    </tr>
                    <tr>
                        <td>Course Name</td>
                        <td>
                            <select @bind="_selectedCourse">
                                @foreach (var course in _courses)
                                {
                                    <option value="@course">@course</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <Button CssClass="insert" Text="New Enrollment" OnClick="btnInsert_Click" />
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <Button Text="Clear" OnClick="btnClear_Click" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="ajax">
                <h1 id="searchStud">Search Student</h1>
                <TextBox ID="txtSearch" CssClass="txtSearch" @bind-Text="_searchText" placeholder="Type Student Name..." />
                <Button ID="btnSearch" Text="Show Student Info" OnClick="btnSearch_Click" CssClass="btnInfo" UseSubmitBehavior="false" />
                @if (_searchResult != null)
                {
                    <DetailsView
                        ItemType="StudentSearchResult"
                        Items="new[] { _searchResult }"
                        AutoGenerateRows="false"
                        ID="studentData"
                        CssClass="detailsView">
                        <Fields>
                            <BoundField DataField="FirstName" HeaderText="FirstName" />
                            <BoundField DataField="LastName" HeaderText="LastName" />
                            <BoundField DataField="Email" HeaderText="Email" />
                            <BoundField DataField="BirthDate" HeaderText="BirthDate" />
                            <BoundField DataField="StudentID" HeaderText="id" />
                        </Fields>
                    </DetailsView>
                }
            </div>
        </ContentTemplate>
    </UpdatePanel>

