@page "/TC25-SelectMethod"
<PageTitle>Products</PageTitle>
<ListView id="ProductList"
    TItem="Product"
    SelectMethod="GetProducts">
@* TODO(bwfc-select-method): Convert SelectMethod="GetProducts" to a code-behind method that sets Items property *@
    <ItemTemplate>
        <tr>
            <td><%# Item.Name %></td>
        </tr>
    </ItemTemplate>
</ListView>
<FormView id="DetailView"
    TItem="Product"
    SelectMethod="GetProduct"
@* TODO(bwfc-select-method): Convert SelectMethod="GetProduct" to a code-behind method that sets Items property *@
    InsertMethod="InsertProduct"
@* TODO(bwfc-select-method): Convert InsertMethod="InsertProduct" to a code-behind method that sets Items property *@
    UpdateMethod="UpdateProduct"
@* TODO(bwfc-select-method): Convert UpdateMethod="UpdateProduct" to a code-behind method that sets Items property *@
    DeleteMethod="DeleteProduct">
@* TODO(bwfc-select-method): Convert DeleteMethod="DeleteProduct" to a code-behind method that sets Items property *@
    <ItemTemplate>
        <span><%# Item.Description %></span>
    </ItemTemplate>
</FormView>
