@inherits LayoutComponentBase

<HeadContent>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link href="css/Master_CSS.css" rel="stylesheet" />
</HeadContent>

<div id="navUp">
    <h1><a href="/" id="contosouniversity">Contoso University</a><span>.com</span></h1>
</div>
<div id="navBar">
    <ul>
        <li><a id="home" href="/Home">Home</a></li>
        <li><a id="about" href="/ContosoUniversity/About">About</a></li>
        <li><a id="students" href="/ContosoUniversity/Students">Students</a></li>
        <li><a id="courses" href="/ContosoUniversity/Courses">Courses</a></li>
        <li><a id="instructors" href="/ContosoUniversity/Instructors">Instructors</a></li>
    </ul>
</div>

@Body
    
    
