@inherits LayoutComponentBase
@layout MainLayout

<div class="main">

    <div class="top-row px-4">

        <span style="float:left;">Second Layout</span>

        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">

      <CascadingValue Name="LayoutSettings" Value="Settings">
        @Body
      </CascadingValue>

      <footer style="margin-top: 20px;">
        <a href="/">Return to index</a> -- The Count: @Settings.TheCount
      </footer>

    </div>

</div>

@code {

	[CascadingParameter(Name = "LayoutSettings")]
	public Data.LayoutSettings Settings { get; set; } = new Data.LayoutSettings();

	protected override Task OnInitializedAsync()
	{

		Settings.StateHasChanged = () => StateHasChanged();

		return base.OnInitializedAsync();

	}

}
